.contact_container {
  max-width: 700px;
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  > span {
    margin: 10px 20px;
    > a {
      .fa-linkedin-in,
      .fa-whatsapp {
        padding:10px 11px;
      }
    }
  }
}
