.header_container {
  z-index: 1;
 
  height: 50px;
  padding: 5px 10px;
  border: solid 1px violet;
  background: var(--white);
  position: sticky;
  top: 0;
  box-shadow: 1px 1px 10px var(--violet);
 
  .nav_container {
    background: transparent;
    max-width: 1200px;
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;  
    .logo_container{
        background: transparent; 
        font-size: larger;
        font-weight: 800;  
    }    
    .nav_links {
      
      padding: 0 5%;
      padding-top: 5px;
      height: 20px;
      background: transparent;
      display: flex;
      flex-wrap: nowrap;
      justify-content: end;  
      width:-webkit-fill-available; //means available with //
      
      .link {
        font-size: 20px;
        font-family: serif;
        background: transparent;
        text-decoration: none;
        margin: 0 15px;
      height: 40px;
      padding: 5px 5px;
      transition:all ease 0.5s;
      &:hover{
        box-shadow: 0px 0px 9px 5px var(--white);
      }
      &:hover .icon{
        color: var(--white);

      }
       &:hover {
        background-color: var(--violet);
        border-radius: 10px 10px 0 0;
        color: var(--white);
        padding-top: 9px;
       
       }
        .icon {
          margin: 0 5px;
          color: var(--violet);
          background: transparent;
        }
        > span {
          background: transparent;
        }
      }
    }
  }
}
@media only screen and (max-width: 500px) {
  .nav_container{
    .logo_container{
      display: none;
    }
  }
}
@media only screen and (max-width: 780px) {
  .header_container{
    
    .nav_container{
      
      .nav_links {
        justify-content: center;
        align-items: center;
        .link {
          padding: 15px 5px;
          margin-top: 20px;
          margin-bottom: 0px;
          &:hover{
            border-radius: 5px ;
          }
          // &:hover .icon{
          //   padding: 2px 2px;
          // }
          > span {
            display: none;
          }
        }
      }
    }
  }
}
