#home{
    // background: url("../images/background2.jpg");
    // background-size: cover;
    display: flex;
    // flex-wrap: wrap;
    padding: 20px 30px;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    .left_container{
        padding: 10px 20px;
        padding-right: 40px;
        font-size: 20px;
        width: 600px;
        line-height:px;
        >p {
            text-align: justify;
            font-size: 20px;
            font-weight: bolder;
             font-family:Georgia, 'Times New Roman', Times, serif;
            >span{
                color: rgb(103, 18, 109);
        }
        }
    }
    .right_container{
      
       .image_container {

           height: 300px;
           width: 300px;
           background: linear-gradient(45deg , rgb(29, 10, 74) , rgb(226, 47, 208));
           border-radius: 50%;

           >img{
                height: 100%;
                width: 100%;
                border-radius: 50%;
                padding: 5px;
                animation: animated ;
            }
       }
    }
}

h1{
    
    display: inline-block;
    background: linear-gradient(45deg ,rgb(103, 13, 103) , rgb(59, 110, 168));
    stroke:1px solid black;
    color:transparent;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    // background-size: 100% 100%;
    font-size: 30px;
    font-weight:bolder;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}