.skills_container {


>h1{
   
  &:hover .primary_line_of_heading{
       width: 150px; 
  }
}
.sub_container{
    background: transparent;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    // min-width: 100%;
    // min-height: 600px;
    overflow: auto;
 
    .skills{

        background:var(--white);
        height:auto;
        min-width: 400px;
        margin:0 5px;
        border-radius: 30px ;
        margin: 10px 10px;
        display: flex;
        flex-wrap:wrap;
        overflow-x: auto;
        justify-content: center;
        // align-items: start;   
       
        >h1{
            width: 100%;
            text-align: center;
            margin: 10px 0;
            height: 50px;
            font-size: 20px;
            
        }     
        .skill{
            height: 100px;
            width: 100px;
            border: solid 1px var(--violet);
            border-radius: 5px;
            margin:10px 10px;
            >img{
                background: transparent;
                max-width: 50px;
                max-height: 50px;
                margin: 10px 25px;
            }
            >p{
                background: transparent;
                text-align: center;
            }
           
        }
    }
}

}