*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button{
    margin: 5px 10px;
    padding: 7px 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: solid 1px rgba(188, 89, 188, 0.847);
    background: transparent;
    border-radius: 50px;
    font-size: 20px;
    cursor:pointer;
    transition: 0.4s ease;
    /* display: block;
    width: 300px;
    margin: auto; */
    
}
button:hover{
    color: white;
    border: solid 1px transparent;
    background: linear-gradient(45deg , rgba(121, 10, 121, 0.731) , rgba(184, 73, 184, 0.557));
}
/* button::after{
    content: '\f08e';
} */

section{
    height: 100vh;
    /* margin: 10px 30px; */


}
:root{
    
}